.hide{
    display: none;
}
.costum-container{
    max-width: 80%;
}
.costum-delete-button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
}
.costum-update-button{
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
}

